.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: 350px;
  width: 210px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first-column {
  background-color: #f5ffea;
}